In [1]:
import pandas as pd
import arcgis_scrape # local library

In [2]:
# Source: https://cor.maps.arcgis.com/apps/webappviewer/index.html?id=5dea94b6112a45eeadf5d25bba47d28a
# View layers, Show Item Details for primary layer, click layer, copy url
# 
base_url = 'https://services1.arcgis.com/k3vhq11XkBNeeOfM/arcgis/rest/services/AssessorProValGPINRecTransPublish/FeatureServer/0'

In [3]:
df = arcgis_scrape.to_df(base_url, {'orderByFields':'parcel_id ASC'})

Rowcount: 17601, pages: 18
Request 0: 0
Request 1: 1000
Request 2: 2000
Request 3: 3000
Request 4: 4000
Request 5: 5000
Request 6: 6000
Request 7: 7000
Request 8: 8000
Request 9: 9000
Request 10: 10000
Request 11: 11000
Request 12: 12000
Request 13: 13000
Request 14: 14000
Request 15: 15000
Request 16: 16000
Request 17: 17000
Final shape: (17601, 36)

In [43]:
# save to file
#df.to_csv('data/transfers_2019-2022.csv',index=False)
df = pd.read_csv('data/transfers_2019-2022.csv')

In [44]:
# filters
# property classes between 110-150 = single-family houses. include 101 because sometimes 
df = df.loc[df['sale_prclass'].isin([101,110,115,120,130,150])]

In [45]:
# houses which changed classification - either built on empty lots, or something like that.
df.loc[df['property_class'] != df['sale_prclass'],['property_class','sale_prclass']]

       property_class  sale_prclass
2                 120           115
114               120           101
115               120           101
116               120           101
117               120           101
...               ...           ...
17282             101           115
17342             101           115
17430             101           120
17446             120           115
17506             101           120

[679 rows x 2 columns]

In [6]:
# cleaning
# date from epoch-milliseconds to datetime
df['sale_date'] = pd.to_datetime(df['sale_date'],unit='ms')

,OBJECTID2,OBJECTID1,OBJECTID,GPIN,ParcelID,join_OBJECTID,lrsn,parcel_id,gisParcelID,Land,...,join_tot,asmt_year,sale_date,sale_price,val_code_1,val_code_2,ratio,DocNum,x,y
5959,10130,68615,67017,657397,97988,69943,76499,E0001763076,97988,14000,...,68000,20220101,1556251200000,116000,1 - VALID SALE,Sale Includes Multiple Parcels,0.586,BS,1.180329e+07,3.719001e+06
6725,9878,20254,2419,44446,6124,26076,26879,N0000088022,6124,8000.0,...,8000.0,20220101.0,1556251200000,6488,2 - INVALID SALE,"Foreclosure, Forced Sale, etc.",1.233,SC,1.179227e+07,3.725682e+06

In [18]:
df.drop(columns=['OBJECTID2','OBJECTID1','OBJECTID','join_OBJECTID'])

,OBJECTID2,OBJECTID1,OBJECTID,GPIN,ParcelID,join_OBJECTID,lrsn,parcel_id,gisParcelID,Land,...,join_tot,asmt_year,sale_date,sale_price,val_code_1,val_code_2,ratio,DocNum,x,y
1,2854,4458,52913,51163,65903,495,16,C0010126004,65903,70000,...,236000,20220101,1613970000000,270000,1 - VALID SALE,"Valid, Use in Ratio Analysis",0.874,BS,1.175842e+07,3.727832e+06
2,3152,54531,20328,50609,25952,189,19,C0010126010,25952,70000,...,358000,20220101,1635998400000,380000,1 - VALID SALE,"Valid, Use in Ratio Analysis",0.942,BS,1.175873e+07,3.728041e+06
3,13434,49880,70029,55140,14360,925,21,C0010126014,14360,231000,...,1641000,20220101,1592884800000,2100000,1 - VALID SALE,Sale Includes Multiple Parcels,0.781,BS,1.175879e+07,3.728391e+06
5,9883,57161,70598,707188,540468,75262,82732,C0010126031,540468,85000,...,465000,20220101,1639112400000,450000,1 - VALID SALE,Asmnt/Sale Desc Doesn't Match,1.033,BS,1.175860e+07,3.728039e+06
6,6839,22346,41141,51097,43201,896,37,C0010170018,43201,70000,...,331000,20220101,1595304000000,332000,1 - VALID SALE,Asmnt/Sale Desc Doesn't Match,0.997,BS,1.175907e+07,3.727880e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17594,16094,43302,1270,105149,110783,66352,69988,W0220516005,110783,325000,...,704000,20220101,1633579200000,825000,1 - VALID SALE,"Valid, Use in Ratio Analysis",0.853,BS,1.177487e+07,3.722987e+06
17595,5825,25033,15046,105152,110786,66780,69997,W0220516014,110786,325000,...,934000,20220101,1574398800000,805000,1 - VALID SALE,"Valid, Use in Ratio Analysis",1.160,BS,1.177468e+07,3.723042e+06
17596,11867,11246,59937,505996,351321,65597,70005,W0220553010,351321,750000,...,3256000,20220101,1564027200000,2900000,1 - VALID SALE,"Valid, Use in Ratio Analysis",1.123,BS,1.177380e+07,3.722951e+06
17597,14133,18278,68732,506000,351316,67402,70012,W0220553020,351316,537000,...,1088000,20220101,1574053200000,400000,2 - INVALID SALE,Relation Between Buyer/Seller,2.720,BS,1.177351e+07,3.722826e+06
17600,10983,71515,68784,514392,359716,64900,70022,W0220557017,359716,318000,...,916000,20220101,1638853200000,1050000,1 - VALID SALE,"Valid, Use in Ratio Analysis",0.872,BS,1.177499e+07,3.722696e+06

In [50]:
pd.set_option('display.max_columns', None)
df.loc[(df['val_code_2'] == 'Sale Includes Multiple Parcels') & (df['parcel_id'].str.strip().isin(['W0190082009','W0190082045']))]

,OBJECTID2,OBJECTID1,OBJECTID,GPIN,ParcelID,join_OBJECTID,lrsn,parcel_id,gisParcelID,Land,Impr,tot,eff_year,exempt_code,nbhd,property_class,prop_street,owner1,join_OBJECTID1,join_lrsn,join_parcel_id,join_gisParcelID,neighborhood,sale_prclass,join_Land,join_Impr,join_tot,asmt_year,sale_date,sale_price,val_code_1,val_code_2,ratio,DocNum,x,y
16325,9770,24988,70022,64138,33274,61733,64555,W0190082009,33274,120000.0,682000.0,802000.0,20220101.0,,112,120,4615 Augusta Ave,AL SAADAWI AMAR S,14221,64555,W0190082009,33274,112,110,120000.0,682000.0,802000.0,20220101.0,1561176000000,365000,1 - VALID SALE,Sale Includes Multiple Parcels,2.197,BS,1.177495e+07,3.734987e+06
16332,15536,45867,67660,692997,527866,71041,81854,W0190082045,527866,120000.0,687000.0,807000.0,20220101.0,,112,120,4613 Augusta Ave,HAMILTON KATHRYN,17434,81854,W0190082045,527866,112,101,120000.0,687000.0,807000.0,20220101.0,1563768000000,365000,1 - VALID SALE,Sale Includes Multiple Parcels,2.211,BS,1.177499e+07,3.734958e+06

In [31]:
df.loc[df['Impr']==687000]

,OBJECTID2,OBJECTID1,OBJECTID,GPIN,ParcelID,join_OBJECTID,lrsn,parcel_id,gisParcelID,Land,...,join_tot,asmt_year,sale_date,sale_price,val_code_1,val_code_2,ratio,DocNum,x,y
16333,15537,45867,67660,692997,527866,71041,81854,W0190082045,527866,120000,...,807000,20220101,1600660800000,789500,1 - VALID SALE,"Valid, Use in Ratio Analysis",1.022,BS,1.177499e+07,3.734958e+06